@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&display=swap');

* {
    margin: auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/background.jpg')
}

.header {
    font-family: Island Moments;
    font-size: 55px;
    margin-top: 30px;
    margin-bottom: 110px;
}

.SubHeader {
    font-weight: 500;
    font-size: 40px;
    color: white;
    font-family: Inter;
    margin-bottom: 20px;
}

.container-one p {
    font-family: Inter;
    font-size: 32;
}

.container-one {
    display: flex;
    flex-direction: column;
}

.container-one span {
    margin-bottom: 20px;
}

.btn {
    padding: 17px;
    border-radius: 6px;
    box-shadow: none;
    width: 300px;
}